# Access AWS RDS with Python 3

In [1]:
#DB instance identifier:-database-1
#master username:-admin
#password:- 12345678
#port:-3306
#host:database-1.cx42a6sh8rui.us-east-1.rds.amazonaws.com

#security group:-rds-python

In [2]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.3

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)

In [3]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\sweety\anaconda3\lib\site-packages (1.0.3)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sweety\anaconda3\lib\site-packages)

In [4]:
import pymysql

In [8]:
db = pymysql.connect(host='database-1.cx42a6sh8rui.us-east-1.rds.amazonaws.com',user='admin',password='12345678')

In [9]:
cursor=db.cursor()

In [10]:
cursor

In [11]:
cursor.execute("select version()")

1

In [12]:
data = cursor.fetchone()

In [13]:
data

('8.0.32',)

# Create a Table

In [17]:
sql = '''drop database kgptalkie'''
cursor.execute(sql)

0

In [18]:
sql = '''create database kgptalkie'''
cursor.execute(sql)

1

In [19]:
cursor.connection.commit()

In [20]:
sql = '''use kgptalkie'''
cursor.execute(sql)

0

In [22]:
sql = '''
create table person(
id int not null auto_increment,
fname text,
lname text,
primary key(id)
)
'''
cursor.execute(sql)

0

In [24]:
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

(('person',),)

In [29]:
sql = '''
insert into person(fname,lname) values('%s','%s') '''% ('anjali','irusumalla')
cursor.execute(sql)
db.commit()

In [30]:
sql = '''select * from person'''
cursor.execute(sql)
cursor.fetchall()

((1, 'anjali', 'irusumalla'),
 (2, 'anjali', 'irusumalla'),
 (3, 'anjali', 'irusumalla'))

In [31]:
sql = '''desc person'''
cursor.execute(sql)
cursor.fetchall()

(('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('fname', 'text', 'YES', '', None, ''),
 ('lname', 'text', 'YES', '', None, ''))